* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #4F1787;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.nav {
    position: absolute;
    background: #EB3678;
    width: 100%;
    top: 0;
    animation-name: right ;
    animation-duration: 1s;
}

#uul {
    text-decoration: none;
    display: flex;
    color: black;
    transition: 0.5s;
    list-style: none;

    justify-content: end;
}

li {
    padding: 15px;

}

li:hover {
    background: #ff6da3;
    transition: 0.5s;
}

a {
    text-decoration: none;
}

#icon {
    position: absolute;
    top: 1%;
    left: 1%;
    height: 50px;
    width: 50px;
}

#iconetype {
    position: absolute;
    top: 1%;
    left: 1%;
}

#sp {
    position: absolute;
    right: 0%;
    top: 10%;
    border: solid;
    border-radius: 15px;
    animation-name:right;
    animation-duration: 1s;
    margin-right: 5%;
}
/* mobile part */
.mobile {
    display: none;
}
.games{
    position: relative;
height: 100vh;
width: 100%;
}
.games h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
    position: absolute;
    top: 10%;
    left: 45%;
    color: #EB3678;
}
.games ul {
    height: 80%;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    position: absolute;
    bottom: 4%;

    display: flex;
    justify-content: space-around;

}
.as{
    margin-top: 5%;
    height: 32%;
    width: 16%;
    border-radius: 15px;


}
#ulm {
    display: none;
}
#h1m{
    display: none;
}
@media screen and (max-width:1050px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    #ul{
        display: none;
    }
    #h1{
        display: none;
    }
    .nav{
        display: none;
    }
    #sp{
        display: none;
    }
    .games{
        justify-content: center;
        align-items: center;
        gap: 20px;
        flex-direction: column;
    }
    #h{
        display: none;
    }
    #bst{
        display: none;
    }
    #buttom{
        display: none;
    }
    .mobile {
        display: flex;

        width: 100%;
        
    }
    #things{
        height: 25%;
        position: absolute;
        top: 53%;
        left: 3.5%;
        border-radius: 15px;
    }
    #more{
        height: 100px;
        width: 100px;
        position: absolute;
        top:99%;
        left: 10%;
    }
    #flags{
        height: 100px;
        width: 100px;
        position: absolute;
        top: 99%;
        right:  10%; 
    }

    #mbo{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-weight: 100;
        position: absolute;
        top: 36%;
        left: 38%;
        height: 100px;
        width: 200px;
        background-color: #EB3678;
        border: #EB3678;
        border-radius: 15px;
        transition: 0.5s;
        font-size: 20px;
    }
    #middle{
        display: none;
    }
    #sp {
        display: none;
    }

    #h {
        display: none;
    }

    body {
        background: #4F1787;

    }


#ulm{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}
#ulm a{
    height: 150px;
}
#ulm a img{
    height: 150px;
}
#ulm h1{
    left: 5%;
}
    .pc {
        display: none;
    }

    .mn img {
     width: 40px;

    }

    #first{
        WIDTH: 80%;
        border-radius: 15px;
        position: absolute;
        left: 10.5%;
        top: 2%
    
    }
    #sec{
        color: white;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-weight: 100;
        font-size: 25px;
        align-items: center;
        position: absolute;
        top: 29%;
        left: 10%;
    }
    .mn {
        display: flex;
        justify-content: space-around;
    }
    .mn {
        height: 40px;
        width: 90%;
        display: flex;
        justify-content: space-around;
        position: absolute;
        left: 5%;
        background: white;
        border-radius: 50px;
        top: 88.5%;
        position: fixed;
        z-index: 1;
      }

    

    .Pc {
        display: none;
    }

    nav {
        display: none;
    }
}